{% extends "home/user_play_base.html"%}
{% block title %}
<title>搜索结果</title>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
        $(function(){
            $('.btn').click(function(){     //搜索按钮点击事件
                var key = $('.text').val();     //获取搜索框内容那个
                var data = JSON.stringify({     //传入key
                'key': key
                });
                $.ajax({                        //ajax开始
                url:"{{url_for('home.search_handler',username=username)}}",
                data:data,
                type:'post',
                success:function(data){
                window.location.href = data;
                },
                });                             //ajax结束
            });
            {% for j in range(0,video_num)%}
            var a = document.createElement('a');
            a.setAttribute("href","{{url_for('home.play',video_id=j+1,username=secret_name)}}");
            a.setAttribute("target","_blank")
            var img = document.createElement('img');
            {% if face_list[j] == "None"%}
                img.setAttribute("src","{{url_for('static',filename='video_face/default.jpg')}}");
            {% else %}
                img.setAttribute("src","{{url_for('static',filename='video_face/'+face_list[j])}}");
            {% endif %}
            img.setAttribute("alt","#");
            var div = document.createElement('div');
            div.setAttribute("class","info");
            var p1 = document.createElement('p');
            p1.setAttribute("class","title");
            p1.innerHTML = {{title_list[j]|tojson}};
            var p2 = document.createElement('p');
            p2.innerHTML = "点赞数:"+{{goodnum_list[j]|tojson}};
            p2.setAttribute("class","author");
            var p3 = document.createElement('p');
            p3.setAttribute("class","play");
            p3.innerHTML = "弹幕:"+{{danmaku_list[j]|tojson}};
            var li = document.createElement('li');
            li.setAttribute("class","video-li");
            var ul = document.getElementById('banner-ul');
            div.appendChild(p1);
            div.appendChild(p2);
            div.appendChild(p3);
            a.appendChild(img);
            a.appendChild(div);
            li.appendChild(a);
            ul.appendChild(li);
            {% endfor %}



            //添加历史记录
            {% for i in range(0,key_num)%}
            var l = document.getElementById('list');
            var a = document.createElement('a');
            a.setAttribute("href","{{url_for('home.search',username=username,key = new_list[i])}}");
            a.innerHTML = {{new_list[i]|tojson}};
            l.appendChild(a);
            {% endfor %}
        })

</script>
{% endblock %}


{% block mainpage%}
<a href="{{url_for('home.user',name=username,id = userid,code=200,page=1)}}">主站</a>
{% endblock %}


{% block userinfo %}
<style>
    #welcome{
    font-size:20px;
    font-family:arial;}




</style>
<a id="welcome">欢迎回来,{{username}}!</a>
<a href="{{url_for('home.userinfo',username=username)}}">个人中心</a>
<span></span>
<a href="{{url_for('home.mainpage',page=1)}}">注销</a>
{% endblock %}


{% block create %}
<a href="{{url_for('home.create',username = username,id = userid)}}" class="link">投 稿</a>
{% endblock %}


{% block rank %}
<a class="search-rank" href="{{url_for('home.rank',username=username)}}">排行榜</a>
{% endblock %}



{% block content %}
<div style="height:1000px;width:805px;margin-left:270px;margin-top:20px;">
    <div style="height:1000px;width:275px;float:left;">
        <p style="font-size:30px;color:#fb7299;">"{{key}}"&nbsp;搜索结果</p>
    </div>
    <div style="height:1000px;width:5px;float:left;background:#fb7299;"></div>
    {% if video_num == 0%}
    <div style="height:1000px;width:520px;float:left;">
        <p class="fav" style="font-size:30px">
            未找到相关视频!
        </p>
    </div>
    <div style="height:1000px;width:5px;float:left;background:#fb7299;"></div>
    {% else %}
    <div class="banner-list fr" style="height:1000px;width:520px;float:left;">
        <div style="height:100px;width:520px;display:inline-block;">
            <p style="font-size:30px;">相关视频共{{video_num}}个</p>
            <hr style="background:#fb7299;border:1px solid #fb7299;" size="4">
        </div>
        <div style="height:900px;width:520px;display:inline-block;">
            <ul id="banner-ul">
            </ul>
        </div>
    </div>
    <div style="height:1000px;width:5px;float:left;background:#fb7299;"></div>
    {% endif %}
</div>

{% endblock %}