<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dplayer/dist/DPlayer.min.css">
    <script src="https://cdn.jsdelivr.net/npm/dplayer/dist/DPlayer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flv.js/dist/flv.min.js"></script>
</head>
<script typet="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script>
        $(function () {
            $(".like").click(function () {


                  $(".like").html("<span>yes!</span><hr><span>no!</span>");

            })
        })

</script>
<body>
<style>
    .like{ font-size:66px;  color:#ccc; cursor:pointer;}
.cs{color:#f00;}



</style>
<p class="like">&#10084;</p>
</body>
</html>
